
  <div class="large-8 small-9 columns">
    <!-- search_form_for is a Ransack helper method -->
  <%= search_form_for @q do |f| %>
    <%= f.text_field :name_cont, class: "radius-left expand", placeholder: "Race name" %>
    <%= f.text_field :city_or_country_cont, class: "radius-left expand", placeholder: "Race Location" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>

  <% end %>
